body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg,#80d0c7,#13547a);
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}
.login{
    margin: auto;
    width: 360px;
    height: 460px;
    border-radius: 6px;
    background: rgb(220, 220, 41);
    z-index: 9;
    box-shadow: 10px 10px 22px rgb(78, 79, 70);
}
h1{
    text-align: center;
    padding-top: 15px
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(61, 173, 218);
    border-radius: 4px;
    outline:none;
}
form input:hover{
    border:3px solid #0e6a9f;
}
button{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(61, 173, 218);
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
button a{
    text-decoration: none;
    color:rgb(19, 39, 90);
}
button:hover{
    background-color: #0e6a9f;
}
p{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}
.img{
    text-align: center;
}
.member a{
    color: rgb(23, 80, 103);
}
.member a:hover{
    color:#0e6a9f;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    font-weight: 600
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    font-weight: 700;
}
